html {
  background-color: #1f9b7c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html body header {
  color: #9c4a14;
}

html body header h1 {
  text-align: center;
  border: brown dotted 1.2px;
  border-radius: 7px;
  padding: 5px;
  margin: 10px;
}

html body header .content {
  color: black;
}

html body header nav ul {
  display: flexbox;
  border: 1.25px solid red;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: royalblue;
}

html body header nav ul li {
  font-size: 1.125rem;
  letter-spacing: 2px;
  list-style-type: none;
  display: inline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

html body header nav ul li a {
  color: cyan;
  text-decoration: none;
  padding: 5px;
  margin: 10px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

html body #about {
  background-color: fuchsia;
  border: red 2px solid;
}

html body #about h2 {
  color: #f37272;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin: 10px;
  text-decoration: underline;
}

html body #about .aboutTxt {
  color: rgba(247, 247, 34, 0.89);
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: green;
  border: dashed black 2px;
  overflow: hidden;
}

html body #about .aboutTxt #mePic {
  height: 150px;
  width: auto;
  float: right;
  margin: 10px;
}

html body #projects {
  width: 100%;
  text-align: center;
  border: white solid 1px;
}

html body #projects h2 {
  color: #af3b2e;
  text-decoration: underline;
}

html body #projects ul {
  color: rgba(255, 0, 85, 0.541);
  list-style-type: none;
  width: 250px;
  border: 1px white solid;
  margin: auto;
}

html body #projects ul li {
  display: inline-block;
  border: 6px rgba(168, 20, 20, 0.658) double;
  border-radius: 12px;
  padding: 7px;
  margin: 10px;
}

html body .funPhotos {
  text-align: center;
  width: 100%;
}

html body .funPhotos h2 {
  color: mediumorchid;
  text-align: center;
  text-decoration: underline;
}

html body .funPhotos .imgs {
  min-width: 625px;
  max-width: 825px;
}

html body .funPhotos .imgs #groupImg {
  height: 250px;
  width: auto;
  margin: 0px;
  padding: 5px;
  border: orchid solid 2px;
}

html body .funPhotos .imgs #paulFenceImg {
  height: 250px;
  width: auto;
  margin: 0px;
  padding: 5px;
  border: orchid solid 2px;
}

html body .funPhotos .imgs #tacosImg {
  height: 250px;
  width: auto;
  margin: 0px;
  padding: 5px;
  border: orchid solid 2px;
}

html body .funPhotos .imgs #coffeeImg {
  height: 250px;
  width: auto;
  margin: 0px;
  padding: 5px;
  border: orchid solid 2px;
}

html body #contact {
  border: 2px lightcyan solid;
  width: 50%;
  min-width: 312.5px;
  max-width: none;
  text-align: left;
}

html body #contact h2 {
  color: darkorchid;
  text-decoration: underline;
  border: solid 1px greenyellow;
}

html body #contact ul {
  list-style-type: none;
  border: solid 1px greenyellow;
  padding: 0px;
  margin: 0px;
}

html body #contact ul .cont-list {
  text-align: left;
  border: red solid 2px;
  color: #ab4eda;
  font-size: 16px;
}

html body #contact ul .cont-list a {
  color: #c7c70f;
  text-decoration: none;
}

html body #contact ul #snapchat {
  text-align: left;
  border: red solid 2px;
}

html body #contact ul #snapchat a img {
  vertical-align: middle;
}

html #footer {
  text-align: right;
  padding-right: 1rem;
}

html #footer span {
  color: darkgrey;
}
/*# sourceMappingURL=style.css.map */
