@mixin imgSize {
  height: 250px;
  width: auto;
  margin: 0px;
  padding: 5px;
  border: orchid solid 2px;
}
// @mixin flexCenter {
//   height: 1rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
html {}
html body {}


html {
  background-color: rgb(31, 155, 124);
  box-sizing: border-box;
  body {
    header {
      color: rgb(156, 74, 20);
      h1 {
        text-align: center;
        border: brown dotted 1.2px;
        border-radius: 7px;
        padding: 5px;
        margin: 10px;
      }
      .content {
        color: black;
      }

      nav {
        ul {
          display: flexbox;
          border: 1.25px solid red;
          border-radius: 15px;
          padding: 5px;
          margin: 10px;
          text-align: center;
          justify-content: center;
          background-color: royalblue;

          li {
            font-size: 1.125rem;
            letter-spacing: 2px;
            list-style-type: none; //removes bullet points
            display: inline;
            justify-content: space-between;
            // background-color: red;

            a {
              color: cyan;
              // background-color: red;
              text-decoration: none;
              padding: 5px;
              margin: 10px;
              text-align: center;
              justify-content: center;
            }
          }
        }
      }
    }

    #about {
      background-color: fuchsia;
      border: red 2px solid;
    
      h2 {
        
        color: rgb(243, 114, 114);
        // background-color: fuchsia;
        justify-content: center;
        text-align: center;
        padding: 5px;
        margin: 10px;
        text-decoration: underline;
      }

      .aboutTxt {
        color: rgba(247, 247, 34, 0.89);
        padding: 10px;
        margin: 10px;
        text-align: center;
        background-color: green;
        border: dashed black 2px;
        overflow: hidden;

        #mePic {
          height: 150px;
          width: auto;
          float: right;
          margin: 10px;
        }
      }
    }
    #projects {
      width: 100%;
      text-align: center;
      border: white solid 1px;

      h2 {
        color: rgb(175, 59, 46);
        text-decoration: underline;
      }
      ul {
        color: rgba(255, 0, 85, 0.541);
        list-style-type: none;
        width: 250px;
        border: 1px white solid;
        margin: auto;

        li {
          display: inline-block;
          border: 6px rgba(168, 20, 20, 0.658) double;
          border-radius: 12px;
          padding: 7px;
          margin: 10px;
        }
      }
    }
    .funPhotos {
      text-align: center;
      width: 100%;

      h2 {
        color: mediumorchid;
        text-align: center;
        text-decoration: underline;
      }

      // FIX POSITIONING LATER!! (different screen-port sizes)
      .imgs {
        min-width: 625px;
        max-width: 825px;
        // border: red 3px dashed;

        #groupImg {
          @include imgSize();
        }
        #paulFenceImg {
          @include imgSize();
        }
        #tacosImg {
          @include imgSize();
          // height: 200px;
          // transform: rotateZ(90deg);
        }
        #coffeeImg {
          @include imgSize();
        }
      }
    }
    #contact {
      border: 2px lightcyan solid;
      width: 50%;
      min-width: 312.5px;
      max-width: none;
      text-align: left;
      h2 {
        color: darkorchid;
        text-decoration: underline;
        // text-align: center;
        border: solid 1px greenyellow;
      }
      ul {
        list-style-type: none;
        border: solid 1px greenyellow;
        padding: 0px;
        margin: 0px;

        .cont-list {
          text-align: left;
          border: red solid 2px;
          color: rgb(171, 78, 218);
          font-size: 16px;

          a {
            color: rgb(199, 199, 15);
            text-decoration: none;
          }
        }
        #snapchat {
          text-align: left;
          border: red solid 2px;
          a {
            img {
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  #footer {
    text-align: right;
    padding-right: 1rem;
    span {
      color: darkgrey;
    }
  }
}

// #email {
// }
// #facebook {
// }
// #snapchat {
//   a {
//     img {
//       margin: auto;
//     }
//   }
// }
// #instagram {
// }
// #linkedIn {
// }
